// dimensions
// --------------------------------

//dimensions: core
$columns: 12;


//dimensions: spacing
$xxs-padding: 2rem;
$xs-padding: 2rem;
$sm-padding: 2rem;
$md-padding: 2rem;
$lg-padding: 2rem;


//dimensions: breakpoints
$breakpoint-xs: 420px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


// colours
// --------------------------------

//colours: brand
$c-black: #111111;
$c-white: #ffffff;


//colours: general
$c-bg: #ffffff;


// typography
// --------------------------------

//typography: dimensions
$font-size: 15px;
$line-height: 1.33333333;


//colours: fonts
$c-font: $c-black;
$c-link: #2F6893;
$c-link-hover: lighten($c-link, 20);


// buttons
// --------------------------------

//buttons: dimensions
$btn-height: ($font-size * 3);
$btn-border-width: 2px;


//buttons: colours
$c-btn: $c-black;
$c-btn-bg: transparent;
$c-btn-border: $c-black;
$c-btn-loading: lighten($c-black, 50);


// forms
// --------------------------------

//forms: dimensions
$form-border-width: 1px;
$form-spacing: 1rem;
$form-height: ($font-size * 3);


//forms: colours
$c-form: $c-font;
$c-form-bg: darken($c-bg, 5);
$c-placeholder: #888888;
$c-form-border: darken($c-form-bg, 10);


//forms: validation
$c-valid: $c-black;
$c-valid-bg: #9bd49b;
$c-invalid: $c-black;
$c-invalid-bg: #ed9696;