// Page
// --------------------------------

html {
  height: 100%;
  font-size: 100%;
}

body {
  position: relative;
  min-height: 100%;
  word-wrap: break-word;
  background: map-get($color, "bg");
}

[ng-cloak] {
  display: none !important;
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    outline-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
}


// Tables
// --------------------------------

table {
  border-spacing: 0;
  background: transparent;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}


// Forms
// --------------------------------

::-webkit-input-placeholder {
  opacity: 1; // Fixes Edge placeholder bug
}