// General
// --------------------------------

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: map-get($color, "font");
  font: normal #{map-get($font, "size")}/#{map-get($font, "line-height")} Arial, sans-serif;
}


// Headers
// --------------------------------

h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0 0 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 1rem;
}

h3 {
  font-size: 1rem;
  line-height: inherit;
  margin: 0 0 1rem;
}


// Links
// --------------------------------

a {
  color: map-get($color, "link");
  transition: color 300ms;

  &:hover {
    color: map-get($color, "link-hover");
  }
}


// Padding
// --------------------------------

p,
ul,
ol {
  padding-bottom: 1rem;
}